<div class="footer">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <h5>Contact WoolHouse</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">WoolHouse, 1293 WoolHouse Close, Crumpleton, CR19 9DL</li>
                    <li class="nav-item mb-2"><a href="/chatbox" class="nav-link p-0 text-body-secondary">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-small">
            </div>

            <div class="col mb-3">
                <h5>Shopping with WoolHouse</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/basket" class="nav-link p-0 text-body-secondary">Shopping
                            Basket</a>
                    </li>
                </ul>
            </div>

            <div class="col-small">
            </div>

            <div class="col mb-3">
                <h5>About WoolHouse</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#about" class="nav-link p-0 text-body-secondary">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <img src="../static/images/paypal.png" alt="paypal"><img src="../static/images/visa.png" alt="visa"><img
                    src="../static/images/mastercard.png" alt="mastercard"><img src="../static/images/klarna.avif"
                    alt="klarna">
                <div class="col-icons"></div>
            </div>
        </footer>
    </div>
</div>
<div class="statement">
    <p>© Eve Alexis 2024</p>
</div>