<div class="header">
    <img src="../static/images/WoolHouseLogo_thbn.png" alt="Wool House Logo">
    <input type="search" name="search" class="searchInput" placeholder="Search our site">
    <div class="input-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="headerIcon">
        <div class="phone"><a href="/chatbox"><img src="../static/images/phone-call.png" alt="Contact us">
                <p>Contact Us</p>
            </a>
        </div>
        <div class="uk"><img src="../static/images/united-kingdom.png" alt="Flag of the United Kingdom">
            <p>Currency: GBP</p>
        </div>
        <div class="basket"><a href="/basket"><img src="../static/images/shopping-basket.png" alt="Shopping basket">
                <p>My Basket</p>
            </a>
        </div>
    </div>
</div>
<div class="nav-header">
    <ul>
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li> ¦
        <li><a href="/yarn">Our products</a></li> ¦
        <li><a href="/chatbox">Contact Us</a></li> ¦
        <li><a href="/basket">Shopping Basket</a></li>
    </ul>
</div>